.sb_wrapper  td {border: 0px;}
.sb_wrapper p {font-size: 12px;}
.sb_wrapper table p {margin-bottom: 2px;}
.sb_wrapper td {padding: 10px 6px; vertical-align: center;}
.sb_wrapper hr {margin: 2px 0;}
.sb_wrapper table {border: 0; margin: 0;}
.sb_wrapper .ui-state-highlight, .sb_wrapper .ui-state-error {padding: 10px;}
#sb_key_facts_table {margin-bottom: 0px; border: 0px;}
.sb_wrapper .ui-widget-header  p {padding: 5px; margin: 0;}
.sb_wrapper img {max-width: 100%;}
.sb_wrapper .button {padding: 10px;}
.sb_wrapper .search_icon {display: inline-block; position: relative; top: 4px;}
#boat_search , #boat_search_box {padding: 5px;}
.sb_icon {
display: inline-block;
position: relative;
top: 3px;
left: 2px;
}
#sb_sail_icon {display: block; width: 150px; height: 189px; background: url('../images/sail.gif') no-repeat; margin: auto;}
#sb_power_icon {display: block; width: 150px; height: 65px; background: url('../images/power.gif') no-repeat; margin: 30px auto;}
#sb_specifications {vertical-align: top;}